{% extends 'base.html' %}

{% block top %} Can I drink in {{city.city}}? {% endblock %}

{% block content %}


<div class="col-md-6">
{% if city.drink_legal %}

<a href='/city_detail/{{city.id}}'>
  <img src="/static/photos/Checkmark.gif" height="200" width="200">
</a>


{% else %}

<p class="lead">X ICON HERE</p>

{% endif %}

</div>

<div class="col-md-6">

<ul>

<li>
<a href="{{ city.cta1_url }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-glass"></span>
{{ city.cta1_title }}</a>
</li>


<li>
<a href="{{ city.cta2_url }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-road"></span>
{{ city.cta2_title }}</a>
</li>


<li>
<a href="{{ city.cta3_url }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-hand-right"></span>
{{ city.cta3_title }}</a>
</li>

</ul>

</div>


{% endblock %}