{% extends 'base.html' %}

{% block top %} Can I drink in {{city.city}}? {% endblock %}

{% block content %}


<div class="col-md-6">
{% if city.drink_legal %}

<a href='/city_detail/{{city.id}}'>
  <img src="/static/photos/Checkmark.gif" height="200" width="200">
</a>


{% else %}

<img src="/static/photos/exmark.gif" height="200" width="200">

{% endif %}

</div>

<div class="col-md-6">

<ul>

{% if url1 %}
<li>
<a href="{{ url1 }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-glass"></span>
{{ city.cta1_title }}</a>
</li>
{% endif %}

{% if url2 %}
<li>
<a href="{{ url2 }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-road"></span>
{{ city.cta2_title }}</a>
</li>
{% endif %}

{% if url3 %}
<li>
<a href="{{ url3 }}" class="btn btn-default btn-lg" role="button" style="margin-bottom:20px">
    <span class="glyphicon glyphicon-hand-right"></span>
{{ city.cta3_title }}</a>
</li>
{% endif %}

</ul>

</div>


{% endblock %}