{% extends 'base.html' %}

{% block top %} {{city.city}} details {% endblock %}

{% block content %}


<!-- descriptions -->
<ul>
<li>
<p class="lead">
{% if city.park %}<img src="/static/photos/park_green.png" alt="" height="75" width="75" style="margin-right: 15px;">{{ city.park_info }}
{% else %} <img src="/static/photos/park_red.png" alt="" style="margin-right:15px" height="75" width="75">{{ city.park_info }}</li>
</p>
{% endif %}



<li>
<p class="lead">
{% if city.street %}<img src="/static/photos/street_green.png" alt="" height="75" width="75" style="margin-right: 15px;">{{ city.street_info }}
{% else %} <img src="/static/photos/street_red.png" alt="" style="margin-right:15px" height="75" width="75">{{ city.street_info }}</li>
</p>
{% endif %}


<li>
<p class="lead">
{% if city.vehicle %}<img src="/static/photos/car_green.png" alt="" height="75" width="75" style="margin-right: 15px;">{{ city.vehicle_info }}
{% else %} <img src="/static/photos/car_red.png" alt="" style="margin-right:15px" height="75" width="75">{{ city.vehicle_info }}</li>
</p>
{% endif %}

<li>
<p class="lead">
{% if city.transportation %}<img src="/static/photos/transport_green.png" alt="" height="75" width="75" style="margin-right: 15px;">{{ city.transportation_info }}
{% else %} <img src="/static/photos/transport_red.png" alt="" style="margin-right:15px" height="75" width="75">{{ city.transportation_info }}</li>
</p>
{% endif %}


<li>
<p style="font-size:18px;"><b style="font-size:22px;">Drinking Age: </b>{{ city.age }}</p>
</li>

<li>
<p style="font-size:18px;"><b style="font-size:22px;">Beer: </b>{{ city.beer }}</p>
</li>


<li>
<p style="font-size:18px;"><b style="font-size:22px;">Wine: </b>{{ city.wine }}</p>
</li>

<li>
<p style="font-size:18px;"><b style="font-size:22px;">Liquor: </b>{{ city.liquor }}</p>
</li>


<li>
<b style="font-size:22px;">Hours: </b><p style="font-size:18px;">{{ city.hours }}</p>
</li>


{% endblock %}