{% extends 'base.html' %}


{% block top %} Can I drink here?{% endblock %}


{% block content %}


<table class="table table-hover">
  {% for city in cities %}
<tr>
    <td align='left'><h4><a href="city/{{city.id}}">{{ city.city }}, {{ city.country }}</a></h4></td>
</tr>
{% endfor %}
</table>




<script>
  if(google.loader.ClientLocation)
{
    visitor_lat = google.loader.ClientLocation.latitude;
    visitor_lon = google.loader.ClientLocation.longitude;
    visitor_city = google.loader.ClientLocation.address.city;
    visitor_region = google.loader.ClientLocation.address.region;
    visitor_country = google.loader.ClientLocation.address.country;
    visitor_countrycode = google.loader.ClientLocation.address.country_code;

}

else
{
    // ClientLocation not found or not populated
    // so perform error handling
}

if (visitor_city == 'Seattle'){
  window.location.href='city/8/';
}

</script>






{% endblock %}

